body > main > section {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

body > main > section > header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

body > main > section > header :is(figure,img) {
    padding: 0;
    margin: 0;
}

body > main > section > header h1 {
    font-size: 3.5em;
    margin: 0.2em 0;
}

body > main > section > header figure img {
    max-width: min(50vw,192px);
    filter: drop-shadow(0 1em 1em rgba(0,0,0,0.4));
}

body > main > section > .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: min(80vw,70ch);
}

body > main > section > .links a {
    border-radius: 0.6em;
    display: flex;
    flex-flow: row nowrap;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.4em 1.2em -.7em rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
    border: 0.04em solid rgba(255,255,255,0.3); 
    color: #ffffffC0;
    transform: scale(1);
    filter: brightness(1);
    transition:
        color 200ms ease-in-out,
        font-weight 200ms ease-in-out,
        opacity 100ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out,
        border-width 100ms ease-in-out,
        box-shadow 200ms ease-in-out,
        filter 150ms ease-in-out,
        transform 150ms ease-in-out;
}

body > main > section > .links a:not([disabled]):hover {
    color: #ffffffff;
    background-color:rgba(0, 0, 0, 0.1);
    border-color: rgba(255,255,255,1);
    border-width: 0.02em;
    box-shadow: 0 0.2em .6em -.4em rgba(0, 0, 0, 0.7);
    transition:
        color 200ms ease-in-out,
        opacity 100ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out,
        border-width 100ms ease-in-out,
        box-shadow 200ms ease-in-out,
        filter 150ms ease-in-out,
        transform 150ms ease-in-out;
}

body > main > section > .links a:not([disabled]):active {
    opacity: 0.8;
    transform: scale(0.975);
    filter: brightness(0.9);
    box-shadow: 0 0 .5em -.3em rgba(0, 0, 0, 1);
    transition:
        box-shadow 150ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out,
        font-weight 150ms ease-in-out,
        opacity 150ms ease-in-out,
        filter 150ms ease-in-out,
        transform 150ms ease-in-out;
}

body > main > section > .links a:focus {
    outline: none;
}

body > main > section > .links a[disabled] {
    filter: brightness(0.5);
}

i.icon.squared::before {
    display: block;
    content: '';
    aspect-ratio: 1 / 1;
    width:calc(100% + 0.5em);
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 0.1em solid currentColor;
    border-radius: 0.25em;
}
